# Laboratory 1: setting up Twitter API

## Set up

In [ ]:
import os
os.environ['TOKEN'] = #bearer token here

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import libraries

In [2]:
import requests 
import pandas as pd 
import time

### Set up headers

In [ ]:
def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers

In [ ]:
headers = create_headers(os.environ['TOKEN'])

## Download data

In [ ]:
def create_url(keyword, start_date, end_date, env_label, endpoint="fullarchive"):
    
    search_url = "https://api.twitter.com/1.1/tweets/search/{}.json".format(endpoint+"/"+env_label) 

    #change params based on the endpoint you are using
    query_params = {'query': keyword, 'fromDate': start_date, 'toDate': end_date}
    return (search_url, query_params)

In [ ]:
def connect_to_endpoint(url, headers, params, next_token = None):
    if next_token is not None and next_token != '':
      params['next'] = next_token
    response = requests.request("GET", url, headers = headers, params = params)
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()

In [ ]:
def get_data(keyword, start_time, end_time, next_token, env_label, endpoint):
  results = []
  
  while next_token is not None:
    ##this part here for one request
    url = create_url(keyword, start_time,end_time, env_label, endpoint)
    json_response = connect_to_endpoint(url[0], headers, url[1], next_token)
    
    if "results" in json_response:
      results.extend(json_response["results"])
    ### up until this point
    if "next" in json_response:
        next_token = json_response["next"]
    else:
      next_token = None
    time.sleep(1)
  
  return results

In [ ]:
def get_single_response(keyword, start_time, end_time, env_label, endpoint):
  results = []
  url = create_url(keyword, start_time,end_time, env_label, endpoint)
  json_response = connect_to_endpoint(url[0], headers, url[1])
  
  if "results" in json_response:
    results.extend(json_response["results"])
  
  return results

#Will return 100 results ad will use only 1 request

In [ ]:
#tweets = get_data("Sarajevo", "202002090000", "202002100000", "")

In [ ]:
#tweets = get_single_response("COVID19 lang:en", "202110060000", "202111050000", "30day", "30day")

In [ ]:
#Tweets already prepered for us, so no need to re-run the code (and run out of requests)

### Inspect data

In [ ]:
len(tweets)

In [ ]:
tweets[0]

# Laboratory 2: working with Twitter data

First, we want to convert the data into Pandas DataFrame. This format enables us easy manipulation of the data as well as saving/loading data.

Since we have our tweets saved as a list of dictionaries, we can easily convert it to DataFrame by executing the cell blow.

In [ ]:
tweets_df = pd.DataFrame(tweets)

In [ ]:
tweets_df

### Saving the results

Once we have our Tweets as a DataFrame it is a good idea to save it on the disk. 

Be mindful of the fact that the storage of a Colab notebook is deleted everytime runtime is interrupted or restarted, so you need to manually download it to your computer or mount your Google Drive and save it there (this option is unavailable if you're using university's email account for Drive).

In [ ]:
path = "/content/" #enter the path to your Drive or leave this as default

We can save it as a comma-separated values file, which enables opening it in a spreadsheet editor and inspecting it.

In [ ]:
tweets_df.to_csv(path+"tweets.csv", index=False)

In order to preserve datatypes, we should save it as a parquet or pickle file.

In [ ]:
tweets_df.to_pickle(path+"tweets.pkl")

### Loading the data

The different column have different type, once you save as a cvs and load they will all be strings.
We want to preserve the data so it is very convinient for us to use pkl file

If you want to load the results you have previously saved, simply execute the next code, specifying the path to the file.

You will need to either upload it to the Colab workspace or copy the path to the file on Drive.

In [ ]:
#tweets_df = pd.read_pickle(path+"tweets.pkl")

In [ ]:
#locally
tweets_df = pd.read_pickle("/home/sabrina/Desktop/NetworkScience/labs/"+"tweets.pkl")
tweets_df

In [4]:
#drive
tweets_df=pd.read_pickle("/content/drive/MyDrive/Colab Notebooks/NSdata/"+"tweets.pkl")
tweets_df

                        created_at  ...                                  extended_entities
0   Sat Nov 06 23:59:58 +0000 2021  ...                                                NaN
1   Sat Nov 06 23:59:57 +0000 2021  ...                                                NaN
2   Sat Nov 06 23:59:56 +0000 2021  ...                                                NaN
3   Sat Nov 06 23:59:55 +0000 2021  ...                                                NaN
4   Sat Nov 06 23:59:51 +0000 2021  ...                                                NaN
..                             ...  ...                                                ...
95  Sat Nov 06 23:55:43 +0000 2021  ...  {'media': [{'id': 1456965743774474244, 'id_str...
96  Sat Nov 06 23:55:43 +0000 2021  ...                                                NaN
97  Sat Nov 06 23:55:38 +0000 2021  ...                                                NaN
98  Sat Nov 06 23:55:35 +0000 2021  ...                                                NaN
99  Sat Nov 06 23:55:31 +0000 2021  ...                                                NaN

[100 rows x 36 columns]

### Preprocessing the data

In our dataframe we have the entire Tweet object. Some columns that might be of particular interest to us are: 

*   created_at - date when Tweet was posted
*   id/id_str - unique Tweet identifiers
*   text - the content of the Tweet
*   user - information about the user who posted the Tweet
*   retweeted_status  - information about the original Tweet
*   quote/reply/retweet/favorite count - Tweet metrics
*   entities - hashtags, urls, user_mentions present in Tweet

We can filter the dataframe and keep only columns we are interested in. You can pick which columns you'd like to keep and put them int the column_list below.

In [5]:
tweets_filtered = tweets_df.copy() #it's a good idea to work on the copy of original dataframe, so we can always go back to it if we mess something up
column_list = ["created_at", "id_str", "text", "user", "retweeted_status", "quote_count", "reply_count", "retweet_count", "favorite_count", "entities"]
tweets_filtered = tweets_filtered[column_list]

In [6]:
tweets_filtered

                        created_at  ...                                           entities
0   Sat Nov 06 23:59:58 +0000 2021  ...  {'hashtags': [{'text': 'HarGharDastak', 'indic...
1   Sat Nov 06 23:59:57 +0000 2021  ...  {'hashtags': [{'text': 'GetVaccinated', 'indic...
2   Sat Nov 06 23:59:56 +0000 2021  ...  {'hashtags': [], 'urls': [], 'user_mentions': ...
3   Sat Nov 06 23:59:55 +0000 2021  ...  {'hashtags': [{'text': 'COVID19', 'indices': [...
4   Sat Nov 06 23:59:51 +0000 2021  ...  {'hashtags': [{'text': 'COVID19', 'indices': [...
..                             ...  ...                                                ...
95  Sat Nov 06 23:55:43 +0000 2021  ...  {'hashtags': [{'text': 'COVID19', 'indices': [...
96  Sat Nov 06 23:55:43 +0000 2021  ...  {'hashtags': [{'text': 'COVID19', 'indices': [...
97  Sat Nov 06 23:55:38 +0000 2021  ...  {'hashtags': [], 'urls': [], 'user_mentions': ...
98  Sat Nov 06 23:55:35 +0000 2021  ...  {'hashtags': [], 'urls': [{'url': 'https://t.c...
99  Sat Nov 06 23:55:31 +0000 2021  ...  {'hashtags': [], 'urls': [], 'user_mentions': ...

[100 rows x 10 columns]

## Extracting words/hashtags

There are many ways to build networks from the data we download from Twitter.

One possibility is to have a bipartite network of Tweets and words/hashtags and then observe word, hashtag or word-hashtag projections.

### Extracting words

In order to extract words, we first need to clean the Tweet text. This way we will remove punctuation, hashtags/mentions/urls (they are preserved in the entity column anyway). We will also turn all letters to lowercase.

You can also consider removing stopwords, removing words that are not in the english language corpora, lematizing the words, etc. I suggest you research nltk library and its possibilities.

In [9]:
! pip install emoji

Collecting emoji
  Downloading emoji-1.6.1.tar.gz (170 kB)
     |████████████████████████████████| 170 kB 8.9 MB/s
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-1.6.1-py3-none-any.whl size=169314 sha256=53da5ec44eae1a2dd2da302192ae40c4691d14e2b29fb230bb10341a4d49e9cb
  Stored in directory: /root/.cache/pip/wheels/ea/5f/d3/03d313ddb3c2a1a427bb4690f1621eea60fe6f2a30cc95940f
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-1.6.1

In [10]:
import re
import string
import emoji

In [11]:
def cleaner(tweet):
    tweet = re.sub("@[A-Za-z0-9]+","",tweet) # remove mentions
    tweet = re.sub("#[A-Za-z0-9]+", "",tweet) # remove hashtags
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet) # remove http links
    tweet = " ".join(tweet.split())
    tweet = str.lower(tweet) #to lowercase
    table = str.maketrans(dict.fromkeys(string.punctuation)) 
    tweet = tweet.translate(table)# remove punctuation         
    return tweet

In [12]:
#applay function cleaner to the column text using the map function, row by row it will appy the function to every value of the column
tweets_filtered["clean_text"] = tweets_filtered["text"].map(cleaner)

In [13]:
tweets_filtered

                        created_at  ...                                         clean_text
0   Sat Nov 06 23:59:58 +0000 2021  ...  rt  appreciate mos jis initiative to support p...
1   Sat Nov 06 23:59:57 +0000 2021  ...  rt  shoutout to for not going to a podcaster c...
2   Sat Nov 06 23:59:56 +0000 2021  ...  rt  if you hear there have been gt100 child de...
3   Sat Nov 06 23:59:55 +0000 2021  ...  tonight on chek news at 5 pm with  an outbreak...
4   Sat Nov 06 23:59:51 +0000 2021  ...  rt  a outbreak among the team left the bears w...
..                             ...  ...                                                ...
95  Sat Nov 06 23:55:43 +0000 2021  ...  rt  new  sesame street with american tv networ...
96  Sat Nov 06 23:55:43 +0000 2021  ...  rt  as we celebrate the vaccination drive in i...
97  Sat Nov 06 23:55:38 +0000 2021  ...  rt  you cant trust the covid19 vaccine especia...
98  Sat Nov 06 23:55:35 +0000 2021  ...                              ya know what else pr…
99  Sat Nov 06 23:55:31 +0000 2021  ...  rt  never forget this day this was the day whe...

[100 rows x 11 columns]

We are going to loop through the dataframe and then through the words in the clean text. We are going to add the words as keys to dictionary and use their frequencies as values.

In [14]:
#initialize an empty dict
unique_words = {}
for row in tweets_filtered.clean_text:
  for word in row.split(" "):
    #if the word is encountered for the first time add to dict as key and set its value to 0
    unique_words.setdefault(word,0)
    #increase the value (i.e the count) of the word by 1 every time it is encountered
    unique_words[word] += 1

In [19]:
#remove blank space
unique_words.pop("")
#remove word 'rt'
unique_words.pop("rt")

We can inspect the words as a dataframe. 


You can always save this dataframe as .csv for future reference.

In [20]:
uw_df = pd.DataFrame.from_dict(unique_words, orient='index').reset_index()
uw_df.rename(columns = {'index':'Word', 0:'Count'}, inplace=True)
uw_df.sort_values(by=['Count'], ascending=False, inplace=True)
uw_df

          Word  Count
55         the     61
4           to     37
35          is     27
16           a     26
9           of     24
..         ...    ...
314        flu      1
313      every      1
312  halfthere      1
309    comment      1
753        pr…      1

[754 rows x 2 columns]

### Extracting the hashtags

We are going to loop through the dataframe and then through the hashtags in the entities. We are going to add the hashtags as keys to dictionary and use their frequencies as values. At the same time, we are going to save them in a list and add them to a separate column to facilitate our future work.

In [21]:
unique_hashtags = {}

tweets_filtered["hashtags"] = ""

for idx, row in tweets_filtered.iterrows():
  hashtag_list = []
  for hashtag in row["entities"]["hashtags"]:
    unique_hashtags.setdefault("#"+hashtag["text"], 0)
    unique_hashtags['#'+hashtag["text"]] += 1
    hashtag_list.append(hashtag["text"])
  tweets_filtered.at[idx,"hashtags"] = hashtag_list

In [24]:
uh_df = pd.DataFrame.from_dict(unique_hashtags, orient='index').reset_index()
uh_df.rename(columns = {'index':'Hashtag', 0:'Count'}, inplace=True)
uh_df.sort_values(by=["Count"], ascending=False)

                   Hashtag  Count
3                 #COVID19     34
2                 #Covid19      5
20                #Vaccine      4
22                    #CCP      3
25                #covid19      2
1           #GetVaccinated      2
9                  #auspol      2
30                     #AI      2
31             #leadership      1
26               #abstract      1
27                    #art      1
28                  #loose      1
29               #vaccines      1
0           #HarGharDastak      1
32              #GeniouxMG      1
24               #stayhome      1
34                 #Growth      1
35               #treasure      1
36                     #GK      1
37                 #GKPath      1
38                    #PDT      1
39                     #DT      1
40       #GetVaccinatedNow      1
33               #learning      1
21      #Unite2FightCorona      1
23           #armyoflovers      1
11            #Coronavirus      1
4                 #Britain      1
5                  #brexit      1
6   #BorisHasFailedBritain      1
7            #BorisJohnson      1
8          #FennaTugemebwe      1
10               #insiders      1
12             #leronlimab      1
19         #VaccineCentury      1
13                #zyesami      1
14             #vaccinated      1
15       #VaccinePassports      1
16               #Covid_19      1
17            #HoldTheLine      1
18            #vaccination      1
41              #Companies      1

## Building the network

We are going to use the networkx library, which is a Python library that enables network science analysis of the data.

We are going to use it to create our network and extract edgelist from it, since we can easily import it to Gephi (a software we are going to see in visualization labs).

However, it offers implemented algorithms for analysis (for example PageRank) that you can use out-of-box to analyze your network.

But first, we will loop through our dataframe and connect words and hashtags if they appear together in the same Tweet.

In [25]:
import itertools
import networkx as nx

In [26]:
uh = unique_hashtags.keys()
uw = unique_words.keys()

In [27]:
network = {}
network_key = 0

for index, row in tweets_filtered.iterrows():
    #hashtags extracted from Tweet do not have the # sign in front of them but we will add it to differentiate hashtags from words
    combined_list = ['#'+hashtag for hashtag in row["hashtags"] if '#'+hashtag in unique_hashtags] + [word for word in str.split(row["clean_text"], " ") if word in uw]
    #itertool product creates Cartesian product of each element in the combined list
    for pair in itertools.product(combined_list, combined_list):
        #exclude self-loops and count each pair only once because our graph is undirected and we do not take self-loops into account
        if pair[0]!=pair[1] and not(pair[::-1] in network):
            network.setdefault(pair,0)
            network[pair] += 1 #* row["retweetCount"]
    
network_df = pd.DataFrame.from_dict(network, orient="index")

In [28]:
network_df.reset_index(inplace=True)
network_df.columns = ["pair","weight"]
network_df.sort_values(by="weight",inplace=True, ascending=False)
network_df

                   pair  weight
1038          (the, to)      26
510     (#COVID19, the)      24
1947        (the, this)      17
1307     (covid19, the)      16
352             (is, a)      16
...                 ...     ...
3591    (chronic, sack)       1
3590    (chronic, move)       1
3589     (chronic, the)       1
3588  (chronic, feared)       1
9855        (else, pr…)       1

[9856 rows x 2 columns]

In [29]:
#to get weighted graph we need a list of 3-element tuplels (u,v,w) where u and v are nodes and w is a number representing weight
up_weighted = []
for edge in network:
    #we can filter edges by weight by uncommenting the next line and setting desired weight threshold
    #if(network[edge])>1:
    up_weighted.append((edge[0],edge[1],network[edge]))

G = nx.Graph()
G.add_weighted_edges_from(up_weighted)

In [30]:
print(len(G.nodes()))
print(len(G.edges()))

796
9856

#### SAVE EDGELIST

In [31]:
filename = "./edgelist.csv"

In [32]:
nx.write_weighted_edgelist(G, filename, delimiter=",")

In [33]:
#add header with appropriate column names (works on collab and Linux/Mac(?))
!sed -i.bak 1i"Source,Target,Weight" ./edgelist.csv

### Create Node List

In [34]:
word_nodes = pd.DataFrame.from_dict(unique_words,orient="index")
word_nodes.reset_index(inplace=True)
word_nodes["Label"] = word_nodes["index"]
word_nodes.rename(columns={"index":"Id",0:"delete"},inplace=True)
word_nodes = word_nodes.drop(columns=['delete'])

word_nodes

             Id       Label
0    appreciate  appreciate
1           mos         mos
2           jis         jis
3    initiative  initiative
4            to          to
..          ...         ...
749   attention   attention
750     science     science
751          ya          ya
752        else        else
753         pr…         pr…

[754 rows x 2 columns]

In [35]:
hashtag_nodes = uh_df.copy()
hashtag_nodes["Label"] = hashtag_nodes["Hashtag"]
hashtag_nodes.rename(columns={"Hashtag":"Id"},inplace=True)
hashtag_nodes = hashtag_nodes.drop(columns=['Count'])
hashtag_nodes

                        Id                   Label
0           #HarGharDastak          #HarGharDastak
1           #GetVaccinated          #GetVaccinated
2                 #Covid19                #Covid19
3                 #COVID19                #COVID19
4                 #Britain                #Britain
5                  #brexit                 #brexit
6   #BorisHasFailedBritain  #BorisHasFailedBritain
7            #BorisJohnson           #BorisJohnson
8          #FennaTugemebwe         #FennaTugemebwe
9                  #auspol                 #auspol
10               #insiders               #insiders
11            #Coronavirus            #Coronavirus
12             #leronlimab             #leronlimab
13                #zyesami                #zyesami
14             #vaccinated             #vaccinated
15       #VaccinePassports       #VaccinePassports
16               #Covid_19               #Covid_19
17            #HoldTheLine            #HoldTheLine
18            #vaccination            #vaccination
19         #VaccineCentury         #VaccineCentury
20                #Vaccine                #Vaccine
21      #Unite2FightCorona      #Unite2FightCorona
22                    #CCP                    #CCP
23           #armyoflovers           #armyoflovers
24               #stayhome               #stayhome
25                #covid19                #covid19
26               #abstract               #abstract
27                    #art                    #art
28                  #loose                  #loose
29               #vaccines               #vaccines
30                     #AI                     #AI
31             #leadership             #leadership
32              #GeniouxMG              #GeniouxMG
33               #learning               #learning
34                 #Growth                 #Growth
35               #treasure               #treasure
36                     #GK                     #GK
37                 #GKPath                 #GKPath
38                    #PDT                    #PDT
39                     #DT                     #DT
40       #GetVaccinatedNow       #GetVaccinatedNow
41              #Companies              #Companies

#### SAVE NODELIST

In [36]:
nodelist = hashtag_nodes.append(word_nodes, ignore_index=True)

nodelist.to_csv("nodelist.csv",index=False)

Tasks: 

*   Extract username of user who posted the tweet into a column "screen_name". Follow the procedure we used to get the hashtags.
*   Create a network of users using the mention relation. Is this a directed or undirected graph?
*   We created a network where nodes are mixed (both words and hashtags). Create network of words only and one of hashtags only.
* Pick one of these network and rank the nodes using PageRank centrality. Extract information about top-20 rated nodes.